.wrapper{
    display: flex;
    height: 100vh;
}


.pokedex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}


.team {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.team > img {
    width: 60%;
}
